<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!DOCTYPE html>
<html lang="en">
{%load static %}
<div class="jumbotron text-center">

<h1> TFT CHAMPION PAGE </h1>
    <p> It seems to be having issues accessing the individual images for each champion.</p>
    <p>
Possible workarounds:
    1. the path of the image for each champion becomes an attribute of Class Champion. Then I can just reference
    the class attribute and the image and champion are linked.
    2. There is some way to access the champion name within the html file... champion.name (curly braces) doesn't work.
</p>
</div>
<head>
{% if champion_list %}
<div class="container">
<table class = "table table-striped">
    <tr>
        <th> Champion </th>
        <th> TFT In-Game Icon </th>
    </tr>

    {% for champion in champion_list %}
    <tr>
        <td><li><a href="/tft/{{ champion.id }}/">{{ champion.name }} </a></li></td>
        <td><img src="{% static "tft/images/Ahri.png" %}" alt="My image"></td>
    {% endfor %}
    </tr>
</table>
</div>
{% else %}
    <p>No champions are available.</p>
    {% endif %}
</head>
<body>

</body>
</html>